@utf-8;

/*전체레이아웃*/
.inner {
  width: 1180px;
  margin: 0 auto;
}

* {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.sec_cont {
  margin-top: 60px;
  height: 600px;
}

/*헤더영역*/
header {
  background: #070606;
}

.header01 {
  padding: 6px 0 7px 0;
}

.header01 ul {
  width: 330px;
  float: right;
  margin-right: -19px;
}

.header01 ul li {
  display: inline-block;
  width: 25%;
  margin-left: -5px;
  text-align: center;
  position: relative;
}

.header01 ul li:before {
  content: "";
  width: 2px;
  height: 13px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 2px;
}

.header01 ul li:first-child:before {
  display: none;
}

.header01 ul li a {
  font-size: 14px;
  color: #fff;
  font-family: 'Nanum Gothic', 'gothic'
}

.header02 {
  background: #fff;
}

.header02 h1 {
  float: left;
  margin-left: 17px;
  margin-top: 19px;
  margin-bottom: 20px;
}

.header02 h1 a {
  display: block;
}

.header02 nav {
  float: right;
  margin-right: 29px;
  margin-top: 36px;
}

.header02 nav ul {
  width: 810px;
}

.header02 nav ul li {
  float: left;
  width: 16.66%;
  text-align: center;
}

.header02 nav ul li a {
  font-family: 'Noto sans KR', sans-serif;
  font-weight: 700;
  font-size: 17px;
  padding: 2px 7px;
}

.header02 nav ul li a:hover {
  color: #f66;
}

/*메인비쥬얼영역*/
.main_visual {
  background: #070606;
}

.main_visual .inner {
  height: 100%;
}

.main_visual a {
  display: block;
  height: 100%;
  background: url(../misoyapicture/main.jpg) no-repeat 0 0;
}

.main_visual h3 {
  float: right;
  padding-top: 82px;
  padding-bottom: 123px;
  padding-right: 68px;
}

.main_visual a h3 img {
  display: block;
}

.main_visual a h3 img:nth-child(2) {
  padding: 20px 0;
}

/*첫번째 콘텐츠*/
.news figure {
  float: left;
  width: calc(50% - 15px);
}

.box_style01 figure a {
  display: block;
  border-bottom: 6px solid #2e2e2e;
  transition: .5s;
}

.box_style01 figure a:hover {
  border-bottom: 6px solid #f66;
}

.box_style01 figure:first-child {
  margin-right: 30px;
}

.box_style01 figure a>img {
  width: 100%
}

/*중간여백이 30px 전체 (100% - 30px)/2 너비를 두개의 figure가 나눠가짐*/
.box_style01 figcaption {
  background: #eeeced;
  padding: 20px 0 20px 16px;
}

.box_style01 figure h4 {
  padding-bottom: 27px;
  font-family: 'Noto sans KR', 'sans-serif';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.box_style01 figure a:hover h4 {
  color: #f66;
  transition: .5s;
}

.box_style01 figure span {
  font-family: 'Nanum Gothic', 'gothic';
  font-size: 13px;
  font-weight: 700;
}

.box_style01 figure span img {
  vertical-align: middle;
  padding-right: 4px;
}

/*가맹점 성공 스토리*/
.franchise .fran_tit {
  float: left;
  width: calc(33.33% - 20px);
  background: #f66;
  padding: 49px 0 186px 31px;
  color: #f66;
  font-family: 'Noto sans KR', 'sans-serif';
  font-weight: 500;
}

.franchise .fran_tit h3 {
  color: #fff;
  font-size: 36px;
  position: relative;
  padding-bottom: 43px;
  line-height: 1.25;
  letter-spacing: -0.05em;
}

.franchise .fran_tit h3:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width:41px;
  height:4px;
  background: #fff;
}

.franchise .fran_tit p{
  color: #fff;
  font-size: 15px;
  padding-top: 18px;
  line-height: 1.6;
}

.franchise figure{
  float: left;
  width:calc(33.33% - 20px);
  margin-left: 30px;
}

.box_style01.franchise figure h4{
  padding-bottom: 86px;
}

/*브랜드 철학*/

.brand{
  height: 606px;
  background:url(../misoyapicture/content03_img.jpg)
  no-repeat right center;
  background-size: cover;
}

.brand .inner{
  height: 100%;
}

.brand_tit{
height: 100%;
background: rgba(242,101,114,0.85);
width:calc(33.33% - 20px);
color: #fff;
font-family: 'Noto sans KR','sans-serif';
padding: 80px 0 0 29px;
font-weight: 500;
}

.brand_tit h3{
  position: relative;
  font-size:36px;
  padding-bottom: 40px;
  line-height: 1.3;
}

.brand_tit h3:after{
  position: absolute;
  content: "";
  left:0;
  bottom:0;
  background: #fff;
  width:41px;
  height: 4px;
}

.brand_tit p{
  padding-top:18px;
  line-height: 2.23;
  font-size: 13px;
}

.brand_tit button{
  border:2px solid #fff;
  background:transparent;/*투명*/
  width:171px;
  height: 63px;
  color:#fff;
  font-size: 15px;
  font-weight: 900;
  margin-top: 100px;
}

/*식재료 이야기*/

.food_img{float:left;}
.food_tit{
background-color: #eeeced;
float: left;
width:372px;
height: 454px;
padding-left: 23px;
border-bottom: 6px solid #2e2e2e;
}

.food_tit h3{
  position: relative;
  font-size:36px;
  padding-top: 52px;
  padding-bottom: 43px;
  line-height: 1.23;
}

.food_tit h3:after{
  position: absolute;
  content: "";
  left:0;
  bottom:0;
  background: #000000;
  width:41px;
  height: 4px;
}

.food_tit p{
  padding-top:22px;
  padding-bottom: 68px;
  line-height: 1.9;
  font-size: 12px;
}


.sec_cont .inner a span img {
  vertical-align: middle;
  padding-right: 0 4px 21px ;
}

.food{
  margin-bottom: 100px;
}
/*식재료 이야기 끝*/


/*신규매장*/

.new_store{
/*margin-left: 370px;
*/}

.new_store .text_01{
  margin: 0 auto;
  margin-right: 15px;
  float: left;
}

.new_store .text_01 span{
  font-size: 24px;
  font-weight: 900;
}

.new_store .text_02{
  float: left;
  /*display: inline;*/
  border:7.5px solid #2e2e2e;
  width: 1076px;
}


.box_style02 figure{
  float: left;
  width:calc(33.33% - 20px);
  margin-left: 30px;
}
